<div>
  <ul>
    <% @styles.each do |style| %>
      <li>
        <strong><%= style.name %></strong> - <%= style.bjcp_category %>
      </li>
      <p>
        <%= truncate(style.description, length: 35, seperator: ' ')%>
      </p>
    <% end %>
  </ul>
</div>
