 @import "bootstrap";

.landing-background {
  background-color: #f0f0f0;
  background-size: cover;
  padding: 20px 0;
  opacity: 0.95;
}

#landing-page {
  background-image: asset-url('categories.webp');
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat repeat;
}

#landing-page .container {
  background-image: none;
  background-color: #f0f0f0;
}

 .badge-ale {
  background-color: #f4a460;
  color: white;
}

.badge-lager {
  background-color: #ffdfba;
  color: rgb(50, 49, 49);
}
.sidebar-custom {
  margin-left: auto;
  padding-left: 80px;
}


.other-page-background {
  background-color: #f0f0f0;
}

.token-line {
    outline: 2px solid grey;
}
.bg-light {
  background-color: #f0f0f0 !important;
}

.api-credentials-section {
  /* Your existing styles */
}

.api-usage-instructions {
  margin-top: 20px;
  background-color: #f9f9f9;
  border-left: 4px solid #007bff;
  padding: 15px;
}

.api-usage-instructions h3 {
  margin-top: 0;
}

.api-usage-instructions code, .api-usage-instructions pre {
  background-color: #e9ecef;
  border-radius: 5px;
  padding: 5px;
  display: block;
  white-space: nowrap;
  overflow: auto;
}

.api-usage-instructions pre {
  white-space: pre-wrap;
}
