<div class="container landing-background mt-5 pt-5">
  <div class="align-items-center">
    <div class="text-center">
      <h1 class="card-title text-center mb-3">
        About
      </h1>
      <p>
        This application utilizes the Beer Judge Certification Program (BJCP) Style Guidelines with permission. The content within this application, specifically pertaining to the BJCP Style Guidelines, is copyrighted ©2021 by the Beer Judge Certification Program, Inc.
      </p>
      <p>
        For the most current guidelines, please visit the BJCP's official website at <a href="https://www.bjcp.org/bjcp-style-guidelines/" target="_blank" rel="noopener noreferrer" class="text-primary">www.bjcp.org</a>.
      </p>
    </div>
  </div>
</div>
