<div class="container-fluid d-flex justify-content-center align-items-center vh-100">
  <div class="row">
    <div class="col-md-10 col-lg-8"> <!-- Adjust column sizes as needed -->
      <div class="card shadow-lg border-0">
        <div class="card-body text-center text-muted">
          <h1 class="card-title text-center mb-3">About</h1>
          <p>
            This application utilizes the Beer Judge Certification Program (BJCP) Style Guidelines with permission. The content within this application, specifically pertaining to the BJCP Style Guidelines, is copyrighted ©2021 by the Beer Judge Certification Program, Inc.
          </p>
          <p>
            For the most current guidelines, please visit the BJCP's official website at <a href="https://www.bjcp.org/bjcp-style-guidelines/" target="_blank" rel="noopener noreferrer" class="text-primary">www.bjcp.org</a>.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
