<div class="container mt-5 landing-background">
  <div class="row align-items-center">
    <div class="col-md-6 text-center text-md-left">
      <h1>Welcome!</h1>
      <p class="lead ml-5">Browse the BJCP categories and styles of beer.</p>
      <p> Availabale on the web or through our GraphQL API.</p>
    </div>
    <div class="col-md-6 d-flex justify-content-center">
      <%= image_tag("fedora.jpeg", class: "img-fluid", alt: "Beer Logo") %>
    </div>
  </div>
</div>
